/* global reset */
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.root {
  background: #F3F3F8;
}
/* header */
.header {
  position: relative;
}
.header .header-main {
  background-color: #111133;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.64rem;
  color: #ffffff;
  position: relative;
}
.header-main .header-logo {
  margin: 0;
  width: 1.9rem;
  height: 0.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-main .header-btn {
  width: 0.54rem;
  height: 0.54rem;
  line-height: 0.54rem;
  font-size: 0.54rem;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(0, -50%);
  color: #ffffff;
}

.header .header-nav {
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  display: none;
  z-index: 999;
}
.header-nav.nav-block {
  display: block;
}
.header-nav .list-group {
  
}
.list-group .list-group-item {
  background:rgba(17,17,51,0.9);
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  color: #ffffff;
  font-size: 0.36rem;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
}

/* main */
.main {
  background: #F3F3F8;
}
.main .swiper-container-main {
  width: 100%;
  height: 4.5rem;
}
.main .main-banner {
  width: 100%;
  height: 4.5rem;
}
/* main 导航 */
.main .main-nav {
  padding: 0;
  margin: 0.8rem auto 0.3rem;
  width: 7.4rem;
}
.main .main-nav .nav-item {
  display: inline-block;
  /* margin-right: 0.1rem; */
  background: #ffffff;
  color: #023894;
  width: 2.4rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.32rem;
  text-align: center;
}
.main .main-nav .nav-item:last-child {
  margin-right: 0;
}
.main .main-nav .nav-item a {
  color: #023894;
}
.main .main-nav .nav-item.active {
  background-color: #023894 !important;
  color: #ffffff !important;
}
.main .main-nav .nav-item.active a {
  color: #ffffff !important;
}

/* main 中间内容 */
.main-content {
  display: none;
  margin: 0 0.8rem;
}
.main-content.active {
  display: block;
}
/* main 是什么 */
.main-is-what .detail-desc {
  width: 7.4rem;
  height: 7.6rem;
  margin: 0.3rem auto;
  background: #ffffff;
  padding: 0.5rem;
}
.main-is-what .detail-desc .detail-desc__img {
  width: 6.4rem;
  height: 4.8rem;
}
.main-is-what .detail-desc .detail-desc__title {
  font-size: 0.32rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #444466;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
.main-is-what .detail-desc .detail-desc__info {
  font-size: 0.28rem;
  line-height: 0.42rem;
  color: #8888AA;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look {
  font-size: 0;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look span {
  color: #023894;
  font-size: 0.24rem;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look i {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  font-size: 0.24rem;
  margin-left: 0.1rem;
}
/* mxlp */
.main-is-what .detail-line {
  margin-bottom: 0.3rem;
}
.main-is-what .detail-line .detail-line__header {
  margin:auto;
  position:relative;
  width: 100%;
  overflow:hidden;
}
.main-is-what .detail-line .swiper-container-mxlp {
  width: 7.4rem;
  height: 5.55rem;
}
.swiper-mxlp {
  width: 7.4rem;
  height: 5.55rem;
}
.swiper-slide-mxlp {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.imagesbox img{
  border-radius:5px;
}
/* main 大事记 */
.main-story {

}
.main-story .story-img {
  width: 7.4rem;
  height: 11.34rem;
  margin-bottom: 0.3rem;
}
/* main 视频 */
.main-video {

}
.main-video .video-img {
  width: 7.4rem;
  height: 4.16rem;
  margin-bottom: 0.3rem;
}
/* footer */
.footer {
  background: #111133;
  color: #ffffff;
  padding-top: 0.8rem;
}
.footer .footer-content {
  padding: 0 0.8rem;
}
.footer .footer-title {
  font-size: 0.54rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
}
.footer em {
  font-style: normal;
  margin: 0 0.15rem;
}
.footer .footer-line {
  font-size: 0.28rem;
  /* height: 0.28rem; */
  line-height: 0.28rem;
  color: #ffffff;
  margin-bottom: 0.6rem;
}
.footer .footer-line.footer-line-img {
  vertical-align: top;
}
.footer .footer-line.footer-line-img .footer-line__item {
  vertical-align: top;
}
.footer .footer-line .footer-line__left {
  font-weight: bold;
}
.footer .mr-50 {
  margin-right: 0.5rem;
}
.footer .footer-line .footer-line__item {
  color:rgba(255,255,255,0.5);
  margin-right: 0.3rem;
}
.footer .footer-line .footer-line__item.icon {
  height: 0.36rem;
  width: 0.36rem;
  font-size: 0.36rem;
  color:rgba(255,255,255,0.5);
  vertical-align: middle;
}
.footer .footer-line .footer-line__item:last-child {
  margin-right: 0;
}
.footer .footer-line .footer-line__item .footer-line__qcode {
  width: 2rem;
  height: 2rem;
}
.footer .footer-logo-bottom {
  width: 100%;
  height: 1rem;
  margin: 0.64rem 0 0.8rem;
}