/* global reset */
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.14rem;
  color:#000;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.root {
  background: #F3F3F8;
}
/* header */
.header {
  position: relative;
}
.header .header-main {
  background-color: #111133;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.64rem;
  color: #ffffff;
  position: relative;
}
.header-main .header-logo {
  margin: 0;
  width: 1.9rem;
  height: 0.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.header-main .header-back {
  width: 0.54rem;
  height: 0.54rem;
  line-height: 0.54rem;
  font-size: 0.54rem;
  position: absolute;
  left: 0.4rem;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);  
  color: #ffffff;
}
.header-main .header-btn {
  width: 0.54rem;
  height: 0.54rem;
  line-height: 0.54rem;
  font-size: 0.54rem;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);  
  color: #ffffff;
}

.header .header-nav {
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  display: none;
  z-index: 999;
}
.header-nav.nav-block {
  display: block;
}
.header-nav .list-group {
  
}
.list-group .list-group-item {
  background:rgba(17,17,51,0.9);
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  color: #ffffff;
  font-size: 0.36rem;
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
}

/* main */
.main {
  background: #F3F3F8;
}
.main .swiper-container-main {
  width: 100%;
  height: 4.5rem;
}
.swiper-pagination-custom {
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 0.20rem;
  text-align: center;
}
.swiper-pagination-customs {
  width: 0.3rem;
  height: 0.08rem;
  display:inline-block;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 0.04rem;
  margin: 0 0.1rem;
  outline: 0;
}
.swiper-pagination-customs-active {
  opacity: 1;
  background-color: #F5A623;
}
.swiper-pagination-custom-mxlp {
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 0.20rem;
  text-align: center;
}
.swiper-pagination-customs-mxlp {
  width: 0.3rem;
  height: 0.08rem;
  display:inline-block;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 0.04rem;
  margin: 0 0.1rem;
  outline: 0;
}
.swiper-pagination-customs-mxlp-active {
  opacity: 1;
  background-color: #023894;
}
.main .main-banner {
  width: 100%;
  height: 4.5rem;
}
.main .main-banner.banner--mxlp {
  height: 5.55rem;
}
/* main 导航 */
.main .main-nav {
  padding: 0;
  margin: 0.8rem auto 0.3rem;
  width: 7.4rem;
}
.main .main-nav .nav-item {
  display: inline-block;
  /* margin-right: 0.1rem; */
  background: #ffffff;
  color: #023894;
  width: 2.4rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.32rem;
  text-align: center;
  box-shadow: 0 0 0.20rem rgba(0, 0, 0, 0.1);
}
.main .main-nav .nav-item:last-child {
  margin-right: 0;
}
.main .main-nav .nav-item a {
  color: #023894;
}
.main .main-nav .nav-item.active {
  background-color: #023894 !important;
  color: #ffffff !important;
}
.main .main-nav .nav-item.active a {
  color: #ffffff !important;
}

/* main 中间内容 */
.main-content {
  display: none;
  /* margin: 0 0.8rem; */
}
.main-content.active {
  display: block;
}
.main-detail {
  width: 7.4rem;
  margin: auto;
}
.main-detail .detail-img {
  width: 7.4rem;
  /* height: 14.48rem; */
  margin: 1rem 0;
}
/* main 是什么 */
.main-is-what .detail-desc {
  width: 7.4rem;
  height: 7.6rem;
  margin: 0.3rem auto;
  background: #ffffff;
  padding: 0.5rem;
  border-radius:0.08rem;
}
.main-is-what .detail-desc .detail-desc__img {
  width: 6.4rem;
  height: 4.8rem;
}
.main-is-what .detail-desc .detail-desc__title {
  font-size: 0.32rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #444466;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
.main-is-what .detail-desc .detail-desc__info {
  font-size: 0.28rem;
  line-height: 0.42rem;
  color: #8888AA;
  margin-bottom: 0;
  position: relative;
}
.main-is-what .detail-desc .detail-desc__info.text-two {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look {
  font-size: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.42rem;
  line-height: 0.42rem;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look span {
  color: #023894;
  font-size: 0.24rem;
}
.main-is-what .detail-desc .detail-desc__info .detail-desc__info-look i {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  font-size: 0.24rem;
  margin-left: 0.1rem;
}
/* mxlp */
.detail-line {
  margin-bottom: 0.3rem;
}
.detail-line .detail-line__header {
  margin:auto;
  position:relative;
  width: 9rem;
  height:1.5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.detail-line .detail-line__header.detail-line__mxlp {
  background-image: url(./mxlp_header.png);
}
.detail-line .detail-line__header.detail-line__zxdt {
  background-image: url(./zxdt_header.png);
}
.detail-line .detail-line__header.detail-line__ppjz {
  background-image: url(./ppjz_header.jpg);
}
.detail-line .detail-line__header.detail-line__dsj {
  background-image: url(./dsj_header.jpg);
}
.detail-line .detail-line__header.detail-line__xmdt {
  background-image: url(./xmdt_header.jpg);
}
.detail-line .detail-line__header .detail-line__header-link {
  width:2.20rem;
  height:0.48rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  float:right;
  margin-right:0.85rem;
  margin-top:0.70rem;  
}
.detail-line .detail-line__header .detail-line__header-link.detail-line__header-mxlp {
  background-image:url(./mxlp_more.png);
}
.detail-line .detail-line__header .detail-line__header-link.detail-line__header-zxdt {
  background-image:url(./zxdt_more.png);
}
.detail-line .detail-line__header .detail-line__header-link.detail-line__header-ppjz {
  background-image:url(./ppjz_more.png);
  width:1.70rem;
}
.detail-line .detail-line__header .detail-line__header-link.detail-line__header-xmdt {
  background-image:url(./xmdt_more.png);
}
.detail-line .swiper-container-mxlp {
  width: 7.4rem;
  height: 5.55rem;
}
.swiper-mxlp {
  width: 7.4rem;
  height: 5.55rem;
}
.swiper-slide-mxlp {
  text-align: center;
  font-size: 0.18rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.detail-line__content {
  width:7.40rem; 
  /* height:5.55rem;  */
  margin: 0 auto;
}
.imagesbox img{
  border-radius:0.05rem;
}
.detail-line__content .content-img {
  width:7.40rem; 
  /* height:5.55rem;  */
  border-radius:0.08rem;  
}
.detail-line__content .content-img.w320 {
  display: block;
  width:3.20rem; 
}
.detail-line__content .zxdt-list {
  padding: 0.2rem;
  background: #ffffff;
  border-radius:0.08rem;
}
.zxdt-list .zxdt-item {
  background: #E9F3FF;
  border-radius: 0.04rem;
  width: 7rem;
  height: 2.4rem;
  margin-bottom: 0.2rem;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.zxdt-list .zxdt-item:last-child {
  margin-bottom: 0;
}
.zxdt-list .zxdt-item .zxdt-item__left {
  font-size: 0;
  position: relative;
}
.zxdt-list .zxdt-item .zxdt-item__left .zxdt-item__left-title {
  font-size: 0.28rem;
  height: 1.26rem;
  font-weight: 600;
  color: #444466;
  line-height: 0.42rem;
  margin-bottom: 0.4rem;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.zxdt-list .zxdt-item .zxdt-item__left .zxdt-item__left-author {
  font-size: 0.28rem;
  font-weight: 400;
  line-height: 0.42rem;
  color: #8888AA;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  max-width: 3.4rem; 
}
.zxdt-list .zxdt-item .zxdt-item__img {
  margin-left: 0.6rem;
  width: 2.4rem;
  height: 1.8rem;
}
/* main 大事记 */
.main-story {
  width: 7.4rem;
  margin: auto;
}
.main-story .story-img {
  width: 7.4rem;
  height: 11.34rem;
  margin-bottom: 0.3rem;
}
/* main 视频 */
.main-video {
  width: 7.4rem;
  margin: auto;
}
.main-video .video-wrap {
  position: relative;
  width: 7.4rem;
  height: 4.16rem;
  display: block;
  margin-bottom: 0.3rem;
}
.main-video .video-wrap .video-img {
  width: 7.4rem;
  height: 4.16rem;
}
.main-video .video-wrap .video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./icon-play.png);
}
/* 活力住区 */
.main-wlzq {
  width: 7.4rem;
  margin: auto;
}
/* 安心住区 */
.main-axzq {
  width: 7.4rem;
  margin: auto;
}
/* 健康住区 */
.main-jkzq {
  width: 7.4rem;
  margin: auto;
}
.main-img {
  width: 7.4rem;
  margin-bottom: 0.3rem;
}
.mb-50 {
  margin-bottom: 0.5rem;
}
.mb-70 {
  margin-bottom: 0.7rem;
}
.mb-100 {
  margin-bottom: 1rem;
}
.main-nav.mt-100 {
  margin-top: 1rem;
}
/* footer */
.footer {
  background: #111133;
  color: #ffffff;
  padding-top: 0.8rem;
}
.footer .footer-content {
  padding: 0 0.8rem;
}
.footer .footer-title {
  font-size: 0.54rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
}
.footer em {
  font-style: normal;
  margin: 0 0.15rem;
}
.footer .footer-line {
  font-size: 0.28rem;
  /* height: 0.28rem; */
  line-height: 0.28rem;
  color: #ffffff;
  margin-bottom: 0.6rem;
}
.footer .footer-line.footer-line-img {
  vertical-align: top;
}
.footer .footer-line.footer-line-img .footer-line__item {
  vertical-align: top;
}
.footer .footer-line .footer-line__left {
  color: #ffffff;
  font-weight: bold;
}
.footer .mr-50 {
  margin-right: 0.5rem;
}
.footer .footer-line .footer-line__item {
  color:rgba(255,255,255,0.5);
  margin-right: 0.3rem;
}
.footer .footer-line .footer-line__item.icon {
  height: 0.36rem;
  width: 0.36rem;
  font-size: 0.36rem;
  color:rgba(255,255,255,0.5);
  vertical-align: middle;
}
.footer .footer-line .footer-line__item:last-child {
  margin-right: 0;
}
.footer .footer-line .footer-line__item .footer-line__qcode {
  width: 2rem;
  height: 2rem;
}
.footer .footer-logo-bottom {
  width: 100%;
  height: 1rem;
  margin: 0.64rem 0 0.8rem;
}